html {
    padding: 20px;
}

body {
    background-image: url("/static/tiles-bg.png");
    color: #eee;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    perspective-origin: 50% 50%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, sans-serif;
    margin: 0;
    justify-content: space-evenly;
    align-items: flex-start;
    word-wrap: anywhere;
}

table {
    max-width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    width: 100%;
}

tr {
    border-bottom: 1px solid grey;
}

td:first-child {
    min-width: 100px;
}

a {
    color: #00ecff;
}

a:hover {
    color: grey;
}

ul.recent-details li {
    list-style-type: square;
}

input[type="text"] {
    border-radius: 0;
    border: 0;
    height: 32px; 
}

input[type="submit"] {
    background-color: #00ecff;
    border: none;
    border-radius: 0;
    height: 34px;
    padding: 0 20px;
}

input[type="submit"]:hover {
    background-color: grey;
    color: white; 
}

.container {
	max-width: 600px;
	background: rgba(0,0,0,1);
    padding: 20px;
    width: 100%;
}

.container:first-child {
    margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
    html {
        padding: 10px;
    }
}
